# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#useless cpp files
.sdf
*.kom
*.inf
*.log
*.tlog
*.obj
EVE_LOGIN_KOM.rc
EVE_LOGIN_KOM.APS
*.sdf
Debug/EVE_LOGIN_MFC_1.0_xp.exe
Debug/EVE_LOGIN_MFC_1.0_xp.rar
*.ilk
*.idb
EVE_LOGIN_MFC.APS
*.opensdf
EVE_LOGIN_MFC_0.0.rar
*.ipch
*.pdb
Debug/EVE_LOGIN_KOM.res
*.res
Debug/EVE_LOGIN_MFC.pch
res/www.ico.la_ed87fe13ceec7f32e3b2e1602c3a96bb_128X1282.ico
*.exe
*.suo
